HELP.md
.gradle

### build directory and subdirectories
build/
adapters/buckpal-web/build/*
adapters/buckpal-persistence/build/*
adapters/build/*
buckpal-application/build/
buckpal-configuration/build/
buckpal-testdata/build/

!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
